body {
	background-color: #F0F0F0;
}



#clock {
	position: relative;
	top: 140px;
	margin: auto;
    width: 45%;
    height: 220px;
    border:3px solid blue;
    padding: 10px;
    text-align: center;
    font-size: 200px;
    color: white;
    background-color: black;
    border-radius: 10px
}